.container {
	max-width: 1160px;
	margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 50px 20px;
}

.temperature-converter {
	display: flex;
	gap: 50px;
}

.task {
	display: flex;
	gap: 20px;
}

.task__item {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 0px;
}

.new-task {
	display: flex;
	flex-direction: column;
}
