* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

body {
  font-family: "Lato";
}

summary {
  list-style: none;
}

details {
  cursor: pointer;
}

.filter {
  position: relative;
  min-height: 132px;
  padding: 39px 0 64px;
}
.filter__content {
  position: absolute;
  z-index: 10;
  width: 360px;
  padding-top: 13px;
}
.filter__content[open] {
  background-color: #fff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  padding: 13px 16px 16px 16px;
}
.filter__content[open] .filter__content__summary__heading {
  color: #F16D7A;
}
.filter__content[open] .filter__content__summary path {
  fill: #F16D7A;
}
.filter__content__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__content__summary__heading {
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.filter__content__item {
  padding-top: 16px;
}
.filter__content__item[open] .filter__content__item__summary {
  color: #F16D7A;
}
.filter__content__item__summary {
  min-height: 37px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border-left: solid 5px #F16D7A;
  border-bottom: solid 1px #ebebeb;
  padding: 8px 11px 12px;
}
.filter__content__item__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 0 6px 18px;
}
.filter__content__item__link-box a {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}
.filter__sort {
  position: absolute;
  z-index: 10;
  display: flex;
  gap: 28px;
  margin-left: 390px;
  padding-top: 12px;
}
.filter__sort__item {
  position: relative;
}
.filter__sort__item__summary {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}
.filter__sort__item__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 79px;
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
  margin: 5px 0 0 -9px;
  padding: 7px 9px 11px;
  background-color: #fff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
}
.filter__sort__item__box__check {
  display: flex;
  gap: 9px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-list__card {
  position: relative;
  max-width: 360px;
  padding-bottom: 20px;
  background-color: #f8f8f8;
}
.card-list__card__add {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 56, 56, 0.86);
  width: 360px;
  height: 420px;
}
.card-list__card__add button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border: solid #ffffff;
  padding: 10px 15px;
}
.card-list__card:hover .card-list__card__add {
  display: flex;
}
.card-list__card h3 {
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding: 24px 16px 0;
}
.card-list__card__about {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  padding: 16px 29px 0 16px;
}
.card-list__card__price {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
  padding: 16px 16px 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 44px;
  border: solid 1px #ebebeb;
  margin-top: 48px;
  margin-bottom: 96px;
}
.page__previous-next {
  padding: 0 16px;
}
.page__previous-next :hover {
  fill: #F16D7A;
}
.page__number-box {
  display: flex;
  gap: 17px;
}
.page__number-box a {
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
}
.page__number-box a:hover {
  color: #F16D7A;
}

.feature {
  padding: 104px 0;
  background-color: #222224;
}
.feature__content {
  display: flex;
  gap: 30px;
}
.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__card h2 {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 19px;
  color: #fbfbfb;
}
.feature__card p {
  padding: 0 40px;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #fbfbfb;
}
.feature__icon-box {
  height: 60px;
}

@media (min-width: 768px) and (max-width: 1139px) {
  .tablet-hidden {
    display: none;
  }
  .mob-tub-9-hidden .card_list2-card:nth-child(9) {
    display: none;
  }
  .container {
    max-width: 736px;
  }
  .filter {
    padding: 11px 0 40px;
    min-height: 81px;
  }
  .filter__sort {
    right: 0;
  }
  .card-list {
    gap: 16px;
  }
  .page {
    margin-top: 40px;
    margin-bottom: 63px;
  }
  .feature {
    padding: 48px 0 64px;
  }
  .feature__content {
    flex-direction: column;
    gap: 49px;
    max-width: 360px;
  }
}
@media (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
  .mob-tub-9-hidden .card_list2-card:nth-child(9) {
    display: none;
  }
  .container {
    max-width: 359px;
  }
  .filter {
    padding: 12px 0 40px;
    min-height: 81px;
  }
  .filter__content {
    padding-top: 12px;
    width: 300px;
  }
  .filter__content__summary {
    min-height: 25px;
  }
  .filter__content__summary svg {
    transform: scale(2.5);
    margin-left: 11px;
  }
  .filter__sort {
    gap: 24px;
    margin-left: 99px;
    right: 0;
  }
  .filter__sort__item__summary {
    align-items: center;
    gap: 9px;
    font-size: 12px;
  }
  .card-list {
    gap: 16px;
  }
  .card-list__card {
    padding-bottom: 20px;
  }
  .page {
    margin-top: 40px;
    margin-bottom: 63px;
  }
  .feature {
    padding: 48px 0 81px;
  }
  .feature__content {
    flex-direction: column;
    gap: 46px;
    max-width: 343px;
  }
  .feature__card p {
    padding: 0;
  }
  .feature__card h2 {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=style_catalog.css.map */